.gallery {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  &__heading {
    font-size: 52px;
    text-align: center;
  }
  &__app {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 10px;
      &__title {
        text-align: center;
        font-size: 32px;
      }
      &__image {
        text-align: center;
        video {
          height: 500px;
        }
      }
      &__description {
        text-align: center;
        max-width: 600px;
      }
    }
  }
}
